.example-fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-evenly;
  }
  
  .mat-toolbar-row, .mat-toolbar-single-row:first-child {
    border-bottom: 1px solid white;
  }
  
  .mat-button {
    height: 100%;
    width: 100%;
  }