<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>ClibApp</span>
        <span class="example-fill-remaining-space"></span>
        <span>Logros</span>
        <span>User</span>
    </mat-toolbar-row>

    <mat-toolbar-row class="nav-bar">
        <button mat-button [routerLink]="['/team']">Equipo</button>
        <button mat-button [routerLink]="['scrum']">Scrum</button>
        <button mat-button [routerLink]="['/messages']">Mensajes</button>
        <button mat-button [routerLink]="['/achievements']">Logros</button>
    </mat-toolbar-row>
</mat-toolbar>