:host {
    .container {
        display:flex;
        justify-content: center;

        .login {
            .login-form {
                display: flex;
                flex-direction: column;
            }
        } 
    }
}