:host {
    opacity:1;
    .container {
        display:flex;
        justify-content: center;
        background-image: url("../../../assets/images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
        background-size: 2000px 1100px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;

        .login {
            .login-form {
                display: flex;
                flex-direction: column;
                button {
                    font-size: 16px;
                    margin-top: 1rem;
                    &:hover {
                        background-color: #FF5722;
                        color: white;
                    }
                }
            }
            background-color: white;
            height: 150px;
            padding: 3rem 4rem 6rem 4rem;
            border-radius: 3%;
            opacity: 0.9;
        } 
    }
}