<h1>
    Logros
</h1>
<div class="achievement">
    <button mat-button *ngFor="let achievement of achievements" class="card">
        <div class="achievement-card">
            <div class="image-achievement">
                <img [src]="achievement.iconPath">
            </div>
            <div class="achievementDescription">
                <h3>{{achievement.name}}</h3>
                <p>Perfil: {{achievement.description}}</p>
                <p>Puntos: {{achievement.ruleCount}}</p>
            </div>
        </div>
    </button>
</div>