<section class="scrum-container">
    <div class="scrum-actions">
        <div class="card-scrum-action" (click)="handleVisibilityTabs('daily')">
            daily
        </div>
        <div class="card-scrum-action" (click)="handleVisibilityTabs('planning')">
            planning
        </div>
        <div class="card-scrum-action" (click)="handleVisibilityTabs('retro')">
            retro
        </div>
    </div>
    <div class="scrum-content">
        <app-daily-view *ngIf="showDaily"></app-daily-view>
        <app-planning-view *ngIf="showPlanning"></app-planning-view>
        <app-retro-view *ngIf="showRetro"></app-retro-view>
    </div>
</section>