.scrum-container {
    width: 100%;
    height: 90%;
    margin: 10px;
    display: flex;
}

.scrum-actions {
    display:flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    padding-right: 3rem;
    border-right: 1px solid #D84315;
}

.scrum-content {
    flex: 2 0px;
    padding-left: 3rem;
}

.card-scrum-action {
    border: 1px solid black;
    border-radius: 5%;
    padding: 30px;
    margin-top: 10px;
    text-align: center;
    &:hover, &:active, &:focus {
        background-color: #FF5722;
        color: white;
        border: 1px solid white;
    }
}